nav a {
    margin-right: 15px;
    text-decoration: none;
    transition: 0.3s;
}
nav a.active{
    text-decoration: underline;
    color: lime;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
color: lime;

}
